
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fab fa-bootstrap"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto nav-icons">
              <li class="nav-item">
                  <a class="nav-link active" href=""><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/carrinho/historico"><i class="fas fa-box"></i> Meus Pedidos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-th-large"></i> Produtos</a>
              </li>
          </ul>
      </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="btn btn-outline-light my-2 my-sm-0 custom-login-btn" onclick="location.href='{% url 'login' %}'">Login</button>
            <button class="btn btn-outline-light my-2 my-sm-0 custom-signup-btn" onclick="location.href=''">Sign-up</button>
  
        </div>
    </div>
    
  </nav>
    </nav>
    <br></br>
  <style>
      div{
          font-style:normal;
          font-family:'public-sans';
          font-weight: 50rem;
      }
  </style>
  
      <!--  conteudo dos grupos certos
  <div class="container-fluid">
      <div class="row d-flex justify-content-start flex-nowrap custom-font">
          {% for grupo in grupos %}
          <div class="col-auto mb-3">
              <div class="text-center">
                  <a href="{% url 'grupo_produtos' grupo.id %}" class="text-decoration-none">
                      <h6 class="card-title">{{ grupo.nome }}</h6>
                  </a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  -->
  
  </div>
  <br></br>
  
  <div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/media/jewel1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/media/jewel2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/media/gold1.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleAutoplaying" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleAutoplaying" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>