{% load bootstrap4 static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>P A G I N A - I N I C I A L</title>
    {% bootstrap_css %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <center><h1>Venha ter o Melhor Para seu negócio !!!</h1></center>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fab fa-bootstrap"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto nav-icons">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-box"></i> Meus Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-th-large"></i> Produtos</a>
                    </li>
                </ul>
               
                <button class="btn btn-outline-light" onclick="location.href='{% url 'login' %}'">Login</button>
                <button class="btn btn-outline-light" onclick="location.href=''">Sign-up</button>
            </div>
        </div>
    </nav>
    {% bootstrap_javascript %}
</body>
</html>
